/* css格式reset */

/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
	text-align: center;
	font-size: 40px;
	margin: 20px;
	font-weight: bold;
}

h2{
	font-size: 25px;
}

.contener{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
}

.t1{
    margin-top: 20px;
}

.t1 td,th{
    
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.t1 th{
    padding: 10px;
    background-color: cadetblue;
    color: aliceblue;
}

.t1 td{
    padding: 10px;
}

.t2{
    margin-top: 20px;
}

.t3 .text{
	border: 3px solid rgb(218, 64, 89);
	color: cadetblue;
	border-radius :5px ;
	background-color: rgb(241, 177, 166);
	padding: 10px 5px;
	font-size: 20px;
	width: 300px;

}

.t3 .button{
	border: 2px solid rgb(0, 170, 255);
	background-color: tomato;
	color: rgb(255, 200, 0);
	width: 80px;
	height: 50px;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px;
	cursor: pointer;
	/* 使鼠標滑過時能有圖案上的變化 */
}

.t3 .button:hover{
	background-color: rgb(255, 200, 0);
	color: tomato;
}

.home a{
    margin-top: 80px;
    background-color: rgb(102, 195, 164);
    padding: 10px;
    color: aliceblue;
    text-decoration:none ;
    font-size: 24px;
    margin-left: 800px;
	border-radius: 10px;
}



.home a:hover{
    font-size: 30px;
    color: rgb(255, 217, 0);
}